@keyframes Header-coronavirus {
0% {
    color: #ea316d;
}
25% {
    color: #823bc5;
}
50% {
    color: #535efd;
}
75% {
    color: #ffce60;
}
100% {
    color: #ea316d;
}
}


selection {
  display: block;
}

iframe {
    display: block;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-top: 30px;
    padding-right: 0px;
    padding-bottom: 30px;
    padding-left: 0px;
}

.Main-content {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
}

.Content-unit {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 15px;
    padding: 2.25rem;
    border-radius: 10px;
    background: #f2f2f2;
}

.Page-title {
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: Header-coronavirus;
    font-family: Proxima Nova,Arial,Helvetica Neue,sans-serif;
    font-size: 3.5rem;
}

:root {
    --text-color: #444444;
    --blue-color: #535efd;
    --purple-color: #7B68EE;
}


#middle{
    width: 50%;
    left: 25%;
    position: relative;
    color: var(--text-color);
}

h1{
    margin: 10px;
}

h2{
    margin: 10px;
}

p{
    margin: 10px;
}

#middle > a{
    position: relative;
    padding: 10px;
    color: white;
    background-color: var(--blue-color);
    border-radius: 20px;
    display: block;
    margin: 10px;
}

#middle > a:hover{
    text-decoration: none;
    background-color: var(--purple-color);
    color: #f2f2f2;
}

.wrong{
    animation: wrong 2s;
}

@keyframes wrong {
    from {background-color: red;}
    to {background-color: white;}
}

.right{
    animation: right 2s;
}

@keyframes right {
    from {background-color: green;}
    to {background-color: white;}
}

.circle{
    position: relative;
    display: inline-block;
    float: left;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 5px;
}

.circle_menu > a{
    border: 5px solid #bbbbbb;
}

.circle_menu{
    display: block;
    height: 40px;
}

.question{
    display: block;
    border-radius: 20px;
    margin: 10px;
}

.question:hover > .question-tittle{
    color: black;
}

.question > div{
    display: inline-block;
    font-size: 20px;
    padding-left: 10px;
}

.commit-question-changes{
    height: 40px;
    display: block;
    background-color: var(--blue-color);
    border-radius: 20px;
    padding: 6px;
}

.commit-question-changes:hover{
    background-color: var(--purple-color);
}

.svg-iframe{
    height: 20px;
    width: 20px;
    border: none;

}

.delete-question{
    float: right;
}

.open-edit > *{
    display: inline-block;
}
