table {
  font-family: "Сomic Sans MS" Cursive;
  border-collapse: collapse;
  color: #686461;
}

th {
  text-align: center;
  background: black;
  color: white;
  font-size: 14pt;
}

tr:nth-child(odd) {
  background: #6495ED;
  color: var(--text-color);
  font-size: 14pt;
}
tr:nth-child(even) {
  background: #7B68EE;
  color: var(--text-color);
  font-size: 14pt;
}

.red-a {
    text-decoration: none; /* Добавляем подчеркивание при наведении курсора на ссылку */
    color: var(--text-color); /* Ссылка красного цвета */
   }

.red-a:hover {
    text-decoration: underline; /* Добавляем подчеркивание при наведении курсора на ссылку */
    color: red; /* Ссылка красного цвета */
   }