<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href={{ url_for(
    'static', filename='css/base_style.css') }}/>
    <link rel="stylesheet" href={{ css }}/>
    {% block head %}{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>
<body>
<script>
$(document).ready(function(){
    $('#checkout-button').click(function(){
        circle = $('#circle');
        if (circle.attr('class') == 'circle-left'){
            circle.attr('class', 'circle-right');
            circle.attr('src', 'https://img.icons8.com/ios-filled/20/000000/crescent-moon.png')
        }
        else{
            circle.attr('class','circle-left');
            circle.attr('src', 'https://img.icons8.com/android/20/000000/sun.png');
        }
    });
});
</script>
{% if theme == 'dark' %}
<script>
    html = document.querySelector('html');
    a = [['--background-color', '#002137'],
        ['--text-color', '#999999'],

        ['--quiz-a-text-color', '#999999'],
        ['--quiz-a-text-hover-color', '#888888'],
        ['--quiz-a-color', '#ffa500'],
        ['--quiz-a-hover-color', '#ffba42'],
        ['--nav-color', '#242424'],
        ['--blog-content-unit-color', '#222222']];
    for (let i of a) {
        html.style.setProperty(i[0], i[1]);
    }
</script>
{% else %}
<script>
    html = document.querySelector('html');
    a = [['--background-color', 'white'],
        ['--text-color', '#222222'],

        ['--quiz-a-text-color', '#999999'],
        ['--quiz-a-text-hover-color', '#888888'],
        ['--quiz-a-color', '#535efd'],
        ['--quiz-a-hover-color', '#7B68EE'],
        ['--nav-color', '#72848f'],
        ['--content-unit-color', '#999999']];
    for (let i of a) {
        html.style.setProperty(i[0], i[1]);
    }
</script>
{% endif %}
<nav><div id="tittle" class="Page-title">
    <a>COVID-19</a>
</div><div id="nav-panel">
    <a href="/">Главная</a>
    <a href="/regions">Регионы</a>
    <a href="/profile">Профиль</a>
    <a href="/blog">Блог</a>
    <a href="/quiz/0/start">Викторина</a>
</div><div id="login-register">
    <a id="login" href="/login">вход</a>
    <a id="register" href="/join">регистрация</a>
</div><div id="change_theme">
<a href="/change_theme">
    <div id="checkout-button">
    {% if theme == 'white' %}
        <img id="circle" class="circle-left" src="https://img.icons8.com/android/20/000000/sun.png"/>
    {% else %}
        <img id="circle" class="circle-right" src="https://img.icons8.com/ios-filled/20/000000/crescent-moon.png"/>
    {% endif %}
    </div>
</a>
</div></nav>
<div id="middle">
{% block content %}{% endblock %}
</div>
</body>
</html>