<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Яндекс простит</title>
    <link rel="stylesheet" href={{ css }}/>
</head>
<body>
<iframe frameborder="0" width=1100 height=820
        src="https://yastat.net/s3/milab/2020/podomam/map/index.html" allowfullscreen></iframe>
<iframe frameborder="0" width=800 height=720
        src="https://yastat.net/s3/milab/2020/podomam/bars/index.html" allowfullscreen></iframe>
<iframe frameborder="0" width=800 height=720
        src="https://yastat.net/s3/milab/2020/podomam/diff/index.html" allowfullscreen></iframe>
</body>
</html>