{% extends "base.html" %}

{% block content %}
<script>
function funkSuccess(data){
    data = data.split(' ');
    likes = data[0];
    dislikes = data[1];
    id = data[2];
    td_list = $('#' + id).find('table').children();
    a_list = $(td_list[td_list.length - 1]).find('a');
    $(a_list[0]).html('👍 ' + likes);
    $(a_list[1]).html('👎 ' + dislikes);
}

$(document).ready(function(){
    $('.mark').click(function(){
        class_list = $(this).attr('class').split(' ');
        id = class_list[0];
        for (let clas of class_list) {
            if (clas == 'like') {
                $.ajax({
                    url: '/post_like/' + id,
                    success: funkSuccess
                });

            }
            else if (clas == 'dislike'){
                $.ajax({url: '/post_dislike/' + id, success: funkSuccess});
            }
        }

    });
});
</script>
<div class="Main-content">
    <main role="main" class="container">
        <section class="Content-unit">
            <h1 align="center">Записи в блоге</h1><br/>
            {% if current_user.is_authenticated and current_user.verified %}
            <center>
                <a href="/post" class="btn btn-primary">Новый пост</a><br/>
            </center>
            {% endif %}
            <br/>
        </section>
        {% for item in posts %}
        <section class="Content-unit"  id="{{ item.id }}">
            <table border="0" id="middle">
                <tr align="center">
                    <td width="20%"></td>
                    <td width="80%" align="right">{{item.string_created_date}}</td>
                </tr>
                <tr>
                    <td width="10vh" height="10vh" align="center" style="vertical-align:middle">
                        <img src="{{item.user.avatar}}" width="200px" height="200px">
                    </td>
                    <td width="80%" align="center">
                        <h2>{{item.title}}</h2>
                        <p style="padding: 1.5rem">{{item.content}}</p>
                        {% if item.attachment %}
                        <div>
                            <img src="{{item.attachment}}" width="80%" height="100%">
                        </div>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <b>{{item.user.name}} {{item.user.surname}}</b>
                        <b>{{item.user.about}}</b>
                    </td>
                    <td>
                        <div style="float:right;">
                            <a class="{{ item.id }} mark like btn btn-primary"
                               style="background-color: green;">👍 {{item.likes}}</a>
                            <a class="{{ item.id }} btn btn-primary mark dislike"
                               style="background-color: red;">👎 {{item.dislikes}}</a>
                            {% if current_user.is_authenticated and (current_user == item.user or
                            current_user.role == 'admin')%}
                            <a href="/post/{{item.id}}" class="btn btn-primary">Изменить</a>
                            <a href="/post_delete/{{item.id}}" class="btn btn-danger">Удалить</a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            </table>
            <br/>
        </section>
        {% endfor %}
    </main>
</div>
{% endblock %}