{% extends "base.html" %}

{% block content %}
<script src="{{ url_for('static', filename='/js/blog.js') }}">

</script>
<div class="Main-content">
    <main role="main" class="container">
        <section class="Content-unit">
            <h1 align="center">Записи в блоге</h1><br/>
            {% if current_user.is_authenticated and current_user.verified %}
            <center>
                <a href="/post" class="btn btn-primary">Новый пост</a><br/>
            </center>
            {% endif %}
            <br/>
        </section>
        {% for item in posts %}
        <section class="Content-unit"  id="{{ item.id }}">
            <table border="0" id="middle">
                <tr align="center">
                    <td width="20%"></td>
                    <td width="80%" align="right">{{item.string_created_date}}</td>
                </tr>
                <tr>
                    <td width="10vh" height="10vh" align="center" style="vertical-align:middle">
                        <img src="{{item.user.avatar}}" width="200px" height="200px">
                    </td>
                    <td width="80%" align="center">
                        <h2>{{item.title}}</h2>
                        <p style="padding: 1.5rem">{{item.content}}</p>
                        {% if item.attachment %}
                        <div>
                            <img src="{{item.attachment}}" width="80%" height="100%">
                        </div>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <b>{{item.user.name}} {{item.user.surname}}</b>
                        <b>{{item.user.about}}</b>
                    </td>
                    <td>
                        <div style="float:right;">
                            <a class="{{ item.id }} mark like btn btn-primary"
                               style="background-color: green; color: white;">👍 {{item.likes}}</a>
                            <a class="{{ item.id }} btn btn-primary mark dislike"
                               style="background-color: red; color: white;">👎 {{item.dislikes}}</a>
                            {% if current_user.is_authenticated and (current_user == item.user or
                            current_user.role == 'admin')%}
                            <a href="/post/{{item.id}}" class="btn btn-primary">Изменить</a>
                            <a href="/post_delete/{{item.id}}" class="btn btn-danger">Удалить</a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            </table>
            <br/>
        </section>
        {% endfor %}
    </main>
</div>
{% endblock %}