{% extends "base.html" %}

{% block content %}
<div class="Main-content">
    <section class="Content-unit">
        <iframe frameborder="0" width=1100 height=920
                src="https://yastat.net/s3/milab/2020/podomam/map/index.html"
                allowfullscreen></iframe>
    </section>
    <section class="Content-unit">
        <iframe frameborder="0" width=800 height=720
                src="https://yastat.net/s3/milab/2020/podomam/bars/index.html"
                allowfullscreen></iframe>
    </section>
    <section class="Content-unit">
        <iframe frameborder="0" width=900 height=780
                src="https://yastat.net/s3/milab/2020/podomam/diff/index.html"
                allowfullscreen></iframe>
    </section>
</div>
{% endblock %}
