{% extends "base_quiz.html" %}

{% block content2 %}
    {% if right %}
        <h1>Правильно!</h1>
        <script>
            $(document).ready(function(){
                $("body").addClass("right");
            });
        </script>
    {% else %}
        <h1>Неправильно!</h1>
        <h2>Правильный ответ:</h2>
        <p>{{ right_answer }}</p>
        <script>
            $(document).ready(function(){
                $("body").addClass("wrong");
            });
        </script>
    {% endif %}
    <p>{{ explanation }}</p>
    <a href={{ next_page }}>Далее</a>
{% endblock %}