{% extends "base_quiz.html" %}

{% block content2 %}
    <h1>Создание нового вопроса для викторины</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.question(placeholder='Вопрос', style="width: 100%") }}
            {% for error in form.question.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.right_answer(placeholder='Правильные ответ', style="width: 100%") }}
            {% for error in form.right_answer.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.false_answers(type="textarea", placeholder='Неправильные вопросы (по одному в строке)', style="width: 100%") }}
            {% for error in form.false_answers.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.explanation(placeholder='Обьяснение', style="width: 100%")}}</p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
{% endblock %}